body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

#loading {
    margin-top: 20px;
}

#error {
    color: red;
    margin-top: 20px;
}

#characterInfo {
    margin-top: 20px;
    margin: 5px 0;
}

#characterInfo p {
    margin: 5px 0;
}

#characterInfo strong {
    font-weight: bold;
}